{% extends "base.html" %}

{% block title %}
Student Dashboard
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Welcome, {{ user.name }}!</h1>
<p>This is your student dashboard.</p>

<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

<br />

{% for enrollment in active_enrollments %}
{% comment %} show active enrollments here {% endcomment %}
{% endfor %}

<br />
<h2>Past Enrollments</h2>

{% for enrollment in past_enrollments %}
{% comment %} show past enrollments here {% endcomment %}
{% endfor %}

{% else %}
<p>
  Please
  <a href="{% url 'login' %}">login</a>
  to view your dashboard.
</p>
{% endif %}
{% endblock %}
